.intro-text {
  border: solid #ddd 6px;
  font-size: 15px;
  line-height: 21px;
  color: #444;
  padding: 16px;
  position: relative;

  &:before {
    content: "";
    height: 20px;
    width: 14px;
    position: absolute;
    top: 33px;
    left: -10px;
    background: #ffd50b;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
  }

  p {
    margin: 0.5em 1em;
  }
}
